<app-loader *ngIf="!cryptos"></app-loader>
<h3 *ngIf="cryptos">{{title}}</h3>

<table *ngIf="cryptos">

    <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>24h %</th>
        <th>7d %</th>
        <th>Market Cap</th>
    </tr>

    <tr *ngFor="let i of cryptos">

        <td>
            <img [src]="['https://s2.coinmarketcap.com/static/img/coins/64x64/', i.id, '.png'].join('')" alt="Logo">
        </td>

        <td [routerLink]="['/cryptocurrencies/', i.symbol].join('')">
            <a><b>{{i.name}} </b></a>
            <span>{{i.symbol}}</span>
        </td>

        <td>${{i.quote.USD.price.toLocaleString()}}</td>

        <td [ngStyle]="{color: i.quote.USD.percent_change_24h > 0 ? 'limegreen' : 'red'}">
            <i class="fas fa-sort-up"></i>
            {{i.quote.USD.percent_change_24h.toFixed(2)}}%
        </td>

        <td [ngStyle]="{color: i.quote.USD.percent_change_7d > 0 ? 'limegreen' : 'red'}">
            <i class="fas fa-sort-up"></i>
            {{i.quote.USD.percent_change_7d.toFixed(2)}}%
        </td>

        <td id="market_cap">${{i.quote.USD.market_cap.toLocaleString()}}</td>
    </tr>
</table>