<form id="calculator" #form="ngForm" >
    <div id="currency">
        <img [src]="['https://s2.coinmarketcap.com/static/img/coins/64x64/', crypto.id, '.png'].join('')" alt="Logo">
        <span>{{crypto.symbol}}</span>
        <input type="number" name="cryptocurrency" dir="rtl" [(ngModel)]="value">
    </div>

    <div id="usd">
        <img src="https://s2.coinmarketcap.com/static/cloud/img/fiat-flags/USD.svg" alt="USD">
        <span>USD</span>
        <input type="number" name="currency" dir="rtl" [value]="(value * crypto.quote.USD.price).toFixed(2)" disabled>
    </div>
</form>