header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

#name {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
}
#name div:nth-child(1) {
    display: flex;
    align-items: center;
}
#name img {
    height: 50px;
    padding-right: 10px;
}
#name h2 span {
    background-color: rgb(216, 216, 216);
    padding: 8px;
    border-radius: 15px;
    color: gray;
}
#name div:nth-child(1) button {
    border: none;
    height: 40px;
}

.fa-star {
    font-size: 25px;
    color: rgb(255, 196, 0);
}

#more-tags,
#less-tags {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
#more-tags span,
#less-tags span {
    padding: 6px;
    margin: 4px;
    font-size: 12px;
    background-color: lightgray;
    border-radius: 5px;
}
#more-tags button,
#less-tags button {
    padding: 6px;
    margin: 4px;
    font-size: 12px;
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
#more-tags button:hover,
#less-tags button:hover { color: rgb(41, 133, 255) }

#pricing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
}
#pricing h5,
#pricing h3 {
    margin: 0px;
    padding: 8px;
}
#pricing h3 span {
    border-radius: 10px;
    padding: 5px;
    margin: 8px;
    color: white;
    font-weight: normal;
}

#toggle_calc { width: 33% }
#toggle_calc button {
    background: rgb(41, 133, 255);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
}

#toggle_calc button:hover { color:black }

#main {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightgray;
}

#main div {
    border-left: 1px solid lightgray;
    width: 33%;
    margin: 10px;
}

#main div:nth-child(1) { border-left: none }

#volume,
#circulating_capacity,
#market_cap {
    text-align: center;
}

#volume div,
#circulating_capacity div {
    border: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#volume div span,
#circulating_capacity div span { color: gray }