<app-navbar></app-navbar>
<main>

    <header>

        <div>
            <a routerLink="/"><i class="fas fa-long-arrow-alt-left"></i></a>
            <a routerLink="/" id="home-text">Home</a>
        </div>

        <div>
            <a routerLink="/news/create" id="create-article-text">Create Article</a>
            <a routerLink="/news/create"><i class="fas fa-plus"></i></a>
        </div>

    </header>

    <h1>Latest News</h1>

    <form #searchNewsForm="ngForm" (submit)="searchNews(searchNewsForm)">
        <input type="text" name="search" id="search" placeholder="Article..." ngModel>
    </form>

    <app-loader *ngIf="!news"></app-loader>
    <section *ngIf="news" class="news-articles-container">

        <app-news-article *ngFor="let article of news" [article]="article"></app-news-article>

    </section>

</main>