header {
    display: flex;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}
a:hover { color: rgb(41, 133, 255) }

.fa-long-arrow-alt-left,
.fa-plus {
    font-size: 35px;
    padding: 12px;
}

.news-articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    border-radius: 15px;
    margin: 16px;
}
.news-article:hover { background-color: rgb(195, 195, 195) }

.news-article img {
    width: 100%;
    height: 300px;
}

.news-article p { padding: 20px; margin: 0 }

.news-article footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.news-article footer p span { color: gray }