<app-navbar></app-navbar>
<main>
    <header>

        <div>
            <a *ngIf="article" [routerLink]="['/news', article._id]"><i class="fas fa-long-arrow-alt-left"></i></a>
            <a *ngIf="article" id="news-text" [routerLink]="['/news', article._id]">Latest Article</a>
        </div>

        <div>
            <a id="create-article-text" routerLink="/news/create">Create Article</a>
            <a routerLink="/news/create"><i class="fas fa-plus"></i></a>
        </div>

    </header>

    <app-loader *ngIf="!article"></app-loader>
    <main *ngIf="article">

        <form (ngSubmit)="editArticle()" [formGroup]="editForm">

            <input type="text" id="title" formControlName="title" placeholder="Article Title" required [minlength]="8">
            <label class="custom-file-upload">
                <input type="file" formControlName="image" id="image" placeholder="Article Image" (change)="imageChange($event)"
                    accept="image/png, image/jpeg">
                Article Image
                -- <span *ngIf="editForm.controls.image.value">{{editForm.controls.image.value.split('\\')[2]}}</span>
            </label>
            <textarea type="text" id="content" formControlName="content" placeholder="Article Content" required
                [minlength]="30"></textarea>

            <button>Edit Article</button>
        </form>

    </main>

</main>