<main>
    <h1>Does it work ?</h1>

    <app-loader *ngIf="!cryptos"></app-loader>
    <table *ngIf="cryptos">

        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>24h %</th>
            <th>7d %</th>
        </tr>

        <tr *ngFor="let i of cryptos">
            <td>{{i.symbol}}</td>
            <td>{{i.name}}</td>
            <td>${{i.price.toFixed(2)}}</td>
            <td *ngIf="i.percent_change_24h > 0" style="color: limegreen">{{i.percent_change_24h}}%</td>
            <td *ngIf="i.percent_change_24h < 0" style="color: red">{{i.percent_change_24h}}%</td>
            <td *ngIf="i.percent_change_7d > 0" style="color: limegreen">{{i.percent_change_7d}}%</td>
            <td *ngIf="i.percent_change_7d < 0" style="color: red">{{i.percent_change_7d}}%</td>
        </tr>

    </table>
</main>
