main { text-align: center }

.fa-times-circle,
.fa-check-circle,
.fa-user-edit { font-size: 25px }

h1 {
    margin: 12px;
    padding: 20px;
    display: inline-block;
    min-width: 0;
}

.profile-image { text-align: center }
.profile-image img {
    width: 50vw;
    max-width: 500px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form div {
    display: flex;
    justify-content: center;
}

input {
    background-color: rgb(245, 245, 245);
    border: 2px solid lightgray;
    border-radius: 15px;
    margin: 12px;
    padding: 18px;
    font-weight: bold;
    font-size: 32px;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

h3 {
    text-align: center;
    margin: 40px;
}

section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
section ul li { padding: 8px }
section ul li a { 
    text-decoration: none;
    color: black;
}
section ul li a:hover { color: rgb(41, 133, 255) }

@media screen and (max-width: 1000px) {
    section {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    section {
        flex-direction: column;
        align-items: center;
    }
    input {
        width: 90%;
        margin: 8px;
        padding: 8px;
        text-align: center;
        display: block;
    }
}