.news-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 10px 2px gray;
    border-radius: 15px;
    margin: 16px;
    min-width: 350px;
}
.news-article:hover { background-color: rgb(243, 243, 243) }

.news-article h3 {
    text-align: center;
    margin: 10px 5px;
    font-size: 14px;
}

.news-article img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.news-article p {
    padding: 20px;
    margin: 0;
    font-size: 14px;
}

.news-article footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.news-article footer p a,
.news-article footer p span {
    color: gray;
    font-size: 12px;
}
.news-article footer p a:hover { color: rgb(65, 147, 255) }