<article class="news-article" [routerLink]="['/news', article._id]">

    <h3>{{article.title}}</h3>

    <img src="{{article.image}}" alt="{{article.title}}">

    <p *ngIf="article.content.length <= 40">{{article.content}}</p>
    <p *ngIf="article.content.length > 40">{{article.content.slice(0, 40).concat('...')}}</p>

    <footer>
        <p>Author: <a [routerLink]="['/profile', article.creator._id]">{{article.creator.username}}</a></p>
        <p>Posted: <span>{{article.dateCreated.slice(0, 10)}}</span></p>
    </footer>

</article>