<nav>
    <ul>
        <li><a routerLink="/home"><i class="fas fa-home"></i></a></li>
        <li><a routerLink="/news">News</a></li>
        <li><a routerLink="/cryptocurrencies">Cryptocurrencies</a></li>
        <li><a routerLink="/watchlist">Watchlist</a></li>
    </ul>

    <ul>
        <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
        <li *ngIf="!isAuth"><a routerLink="/register">Register</a></li>
        <li *ngIf="isAuth"><a routerLink="/logout">Logout</a></li>
    </ul>
</nav>
