<nav>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i></a>
        </li>
        <li id="news-text">
            <a routerLink="/news" routerLinkActive="active">News</a>
        </li>
        <li id="news-icon">
            <a routerLink="/news" routerLinkActive="active"><i class="far fa-newspaper"></i></a>
        </li>
        <li id="crypto-text">
            <a routerLink="/cryptocurrencies" routerLinkActive="active">Cryptocurrencies</a>
        </li>
        <li id="crypto-icon">
            <a routerLink="/cryptocurrencies" routerLinkActive="active"><i class="fab fa-bitcoin"></i></a>
        </li>
        <li id="watchlist-text">
            <a routerLink="/watchlist" routerLinkActive="active">Watchlist</a>
        </li>
        <li id="watchlist-icon">
            <a routerLink="/watchlist" routerLinkActive="active"><i class="fas fa-star"></i></a>
        </li>
        <li id="profile-left" *ngIf="isAuth">
            <a><i class="fas fa-user"></i></a>
        </li>
    </ul>

    <ul>
        <li id="sign-in" *ngIf="!isAuth"><a routerLink="/user/sign-in">Sign In</a></li>
        <li id="sign-up" *ngIf="!isAuth"><a routerLink="/user/sign-up">Sign Up</a></li>
        <li id="signed-in-as" *ngIf="user && isAuth"><span>Welcome, {{user.username}}</span></li>
        <li id="sign-out" *ngIf="isAuth"><a routerLink="/user/sign-out">Sign Out</a></li>
        <li id="profile-right" *ngIf="user && isAuth"><a [routerLink]="['/user', user._id]"><i class="fas fa-user"></i></a></li>
    </ul>
</nav>
