nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 50px;
    min-width: 350px;
    top: 0px;
    padding: 0% 15% 0% 15%;
    border-bottom: 1px solid rgb(209, 209, 209);
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
}

a:hover {
    color: rgb(41, 133, 255);
}

#news-icon,
#crypto-icon,
#watchlist-icon,
#profile { display: none }

.fa-newspaper,
.fa-bitcoin,
.fa-star,
.fa-user,
.fa-home { font-size: 30px }



@media screen and (max-width: 1300px) {
    nav {
        width: 100%;
        padding: 0%;
    }
}

@media screen and (max-width: 850px) {
    #news-text,
    #crypto-text,
    #watchlist-text,
    #sign-in,
    #sign-up,
    #logout { display: none; }

    #news-icon,
    #crypto-icon,
    #watchlist-icon,
    #profile { display: inline }

    ul:nth-child(1) {
        width: 100%;
        justify-content: space-evenly;
    }
}