<app-navbar></app-navbar>
<main>
    <header>
        
        <div>
            <a routerLink="/news"><i class="fas fa-long-arrow-alt-left"></i></a>
            <a id="news-text" routerLink="/news">Latest News</a>
        </div>

        <div *ngIf="article && userID === article.creator._id">
            
            <button [routerLink]="['/news', article._id, 'edit']"><i class="fas fa-pencil-alt"></i></button>
            <button (click)="deleteArticle()"><i class="far fa-trash-alt"></i></button>

        </div>
        
        <div>
            <a id="create-article-text" routerLink="/news/create">Create Article</a>
            <a routerLink="/news/create"><i class="fas fa-plus"></i></a>
        </div>
        
    </header>

    <app-loader *ngIf="!article"></app-loader>
    <section *ngIf="article" class="news-articles-container">

        <h1>{{article.title}}</h1>

        <img src="{{article.image}}" alt="{{article.title}}">

        <p>{{article.content}}</p>

        <footer>
            <p>Author: <span>{{article.creator.username}}</span></p>
            <p>Posted: <span>{{article.dateCreated.slice(0, 10)}}</span></p>
        </footer>

    </section>
</main>
