<main *ngIf="crypto">

    <header>

        <div id="name">
            <div>
                <img [src]="['https://s2.coinmarketcap.com/static/img/coins/64x64/', crypto.id, '.png'].join('')"
                    alt="Logo">
                <h2>{{crypto.name}} <span>{{crypto.symbol}}</span></h2>
                <button *ngIf="!user.watchlist.includes(crypto.symbol)" (click)="editWatchlist(crypto.symbol)"><i class="far fa-star"></i></button>
                <button *ngIf="user.watchlist.includes(crypto.symbol)" (click)="editWatchlist(crypto.symbol)"><i class="fas fa-star"></i></button>
            </div>

            <div *ngIf="crypto.tags.length">
                <h5>Tags:</h5>
                <div id="less-tags" *ngIf="!tags">
                    <span>{{crypto.tags[0]}}</span>
                    <button (click)="switchTags()">Show all tags</button>
                </div>
                <div id="more-tags" *ngIf="tags">
                    <span *ngFor="let tag of crypto.tags">{{tag}}</span>
                    <button (click)="switchTags()">Hide tags</button>
                </div>
            </div>
        </div>

        <div id="pricing">
            <h5>{{crypto.name}} (<span>{{crypto.symbol}}</span>)</h5>
            <h3>${{crypto.quote.USD.price.toFixed(2)}}
                <span [ngStyle]="{background: crypto.quote.USD.percent_change_24h > 0 ? 'rgb(49, 224, 49)' : 'red' }">
                    <i class="fas fa-sort-up" *ngIf="crypto.quote.USD.percent_change_24h > 0"></i>
                    <i class="fas fa-sort-down" *ngIf="crypto.quote.USD.percent_change_24h <= 0"></i>
                    {{crypto.quote.USD.percent_change_24h.toFixed(2)}}%
                </span>
            </h3>
        </div>

        <div id="toggle_calc">
            <button *ngIf="!calcIsOpen" (click)="toggleCalc()">Open Calculator</button>
            <button *ngIf="calcIsOpen" (click)="toggleCalc()">Close Calculator</button>

            <app-crypto-calculator *ngIf="calcIsOpen" [crypto]="crypto" id="calculator"></app-crypto-calculator>
        </div>

    </header>

    <div id="main">

        <div id="market_cap">
            <h4>Market Cap</h4>
            <p>$ {{crypto.quote.USD.market_cap.toLocaleString()}}</p>
        </div>

        <div id="volume">
            <h4>Volume 24h</h4>
            <p>$ {{crypto.quote.USD.volume_24h.toLocaleString()}}</p>
            <div *ngIf="crypto.quote.USD.volume_24h && crypto.quote.USD.market_cap">
                <span>Volume / Market Cap:</span>
                <span>{{(crypto.quote.USD.volume_24h / crypto.quote.USD.market_cap).toLocaleString()}}</span>
            </div>
        </div>

        <div id="circulating_capacity">
            <h4>Circulating Capacity</h4>
            <p>{{crypto.circulating_supply.toLocaleString()}} {{crypto.symbol}}</p>

            <div *ngIf="crypto.max_supply">
                <span>Max Supply:</span>
                <span>{{crypto.max_supply.toLocaleString()}}</span>
            </div>

            <div *ngIf="crypto.total_supply">
                <span>Total Supply:</span>
                <span>{{crypto.total_supply.toLocaleString()}}</span>
            </div>
        </div>

    </div>

    <app-top-five-cryptos [cryptos]="top_5_by_price" title="Top 5 Cryptocurrencies sorted by Price"></app-top-five-cryptos>
    <app-top-five-cryptos [cryptos]="top_5_by_24h" title="Top 5 Cryptocurrencies sorted by Price Change in the last 24h"></app-top-five-cryptos>
    <app-top-five-cryptos [cryptos]="top_5_by_7d" title="Top 5 Cryptocurrencies sorted by Price Change in the last 7d"></app-top-five-cryptos>

</main>

<main *ngIf="!crypto">
    <app-loader></app-loader>
</main>