<main *ngIf="crypto">

    <header>

        <div id="name">
            <div>
                <img [src]="['https://s2.coinmarketcap.com/static/img/coins/64x64/', crypto.id, '.png'].join('')"
                    alt="Logo">
                <h2>{{crypto.name}} <span>{{crypto.symbol}}</span></h2>
                <button *ngIf="true" (click)="addToWatchlist(crypto.symbol)"><i class="far fa-heart"></i></button>
                <button *ngIf="false" (click)="removeFromWatchlist(crypto.symbol)" style="color: red"><i
                        class="fas fa-heart"></i></button>
            </div>

            <div *ngIf="crypto.tags.length">
                <h5>Tags:</h5>
                <div id="less-tags" *ngIf="!tags">
                    <span>{{crypto.tags[0]}}</span>
                    <button (click)="switchTags()">Show all tags</button>
                </div>
                <div id="more-tags" *ngIf="tags">
                    <span *ngFor="let tag of crypto.tags">{{tag}}</span>
                    <button (click)="switchTags()">Hide tags</button>
                </div>
            </div>
        </div>

        <div id="pricing">
            <h5>{{crypto.name}} (<span>{{crypto.symbol}}</span>)</h5>
            <h3>${{crypto.quote.USD.price.toFixed(2)}}
                <span *ngIf="crypto.quote.USD.percent_change_24h > 0" style="background: rgb(49, 224, 49)">
                    <i class="fas fa-sort-up"></i>
                    {{crypto.quote.USD.percent_change_24h.toFixed(2)}}%
                </span>
                <span *ngIf="crypto.quote.USD.percent_change_24h <= 0" style="background: red">
                    <i class="fas fa-sort-down"></i>
                    {{crypto.quote.USD.percent_change_24h.toFixed(2)}}%
                </span>
            </h3>
        </div>

        <div id="calculator">
            <div id="currency">
                <img [src]="['https://s2.coinmarketcap.com/static/img/coins/64x64/', crypto.id, '.png'].join('')"
                    alt="Logo">
                <div>
                    <span>{{crypto.symbol}}</span>
                    <span>{{crypto.name}}</span>
                </div>
                <input #currency id="cryptocurrency" type="text" dir="rtl" (keyup)="getValue(currency.value, 'cryptocurrency')">
            </div>
            <div id="usd">
                <img src="https://s2.coinmarketcap.com/static/cloud/img/fiat-flags/USD.svg" alt="USD">
                <div>
                    <span>USD</span>
                    <span>United States Dollar</span>
                </div>
                <input #usd id="usd" type="text" dir="rtl" (keyup)="getValue(usd.value, 'usd')">
            </div>
        </div>

    </header>

    <div id="main">

        <div id="market_cap">
            <h4>Market Cap</h4>
            <p>$ {{crypto.quote.USD.market_cap.toLocaleString()}}</p>
        </div>

        <div id="volume">
            <h4>Volume 24h</h4>
            <p>$ {{crypto.quote.USD.volume_24h.toLocaleString()}}</p>
            <div *ngIf="crypto.quote.USD.volume_24h && crypto.quote.USD.market_cap">
                <span>Volume / Market Cap:</span>
                <span>{{(crypto.quote.USD.volume_24h / crypto.quote.USD.market_cap).toLocaleString()}}</span>
            </div>
        </div>

        <div id="circulating_capacity">
            <h4>Circulating Capacity</h4>
            <p>{{crypto.circulating_supply.toLocaleString()}} {{crypto.symbol}}</p>

            <div *ngIf="crypto.max_supply">
                <span>Max Supply:</span>
                <span>{{crypto.max_supply.toLocaleString()}}</span>
            </div>

            <div *ngIf="crypto.total_supply">
                <span>Total Supply:</span>
                <span>{{crypto.total_supply.toLocaleString()}}</span>
            </div>
        </div>

    </div>

    <div id="chart">

    </div>

</main>

<main *ngIf="!crypto">
    <app-loader></app-loader>
</main>